# Build outputs
bin/
obj/
/releases/
/dist/

# User configurations
*.user
Directory.Build.props.user

# IDEs
.vs/
.idea/
.vscode/
*.suo
*.userprefs

# Temporary files & Scratch
/scratch/
/Program.cs

# Exclude BallanceMod from git tracking
/BallanceMod/
