## Settings file was created by plugin Airport Names Mod v1.0.0
## This file should be placed in BepInEx\Config\com.morg.airport_names_mod.cfg

[AMS]

## New 3-letter code to replace AMS (leave empty to keep default)
# Setting type: String
# Default value: 
Code = 

## New name to replace Amsterdam (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

[ATL]

## New 3-letter code to replace ATL (leave empty to keep default)
# Setting type: String
# Default value: 
Code =

## New name to replace Atlanta (leave empty to keep default)
# Setting type: String
# Default value: 
Name =

[BCN]

## New 3-letter code to replace BCN (leave empty to keep default)
# Setting type: String
# Default value: 
Code = 

## New name to replace Barcelona (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

[BKK]

## New 3-letter code to replace BKK (leave empty to keep default)
# Setting type: String
# Default value: 
Code = 

## New name to replace Bangkok (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

[BOM]

## New 3-letter code to replace BOM (leave empty to keep default)
# Setting type: String
# Default value: 
Code = 

## New name to replace Mumbai (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

[CAN]

## New 3-letter code to replace CAN (leave empty to keep default)
# Setting type: String
# Default value: 
Code = 

## New name to replace Guangzhou (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

[CMI]

## New 3-letter code to replace CMI (leave empty to keep default)
# Setting type: String
# Default value: 
Code = 

## New name to replace Champaign (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

[DEL]

## New 3-letter code to replace DEL (leave empty to keep default)
# Setting type: String
# Default value: 
Code = 

## New name to replace Delhi (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

[FRA]

## New 3-letter code to replace FRA (leave empty to keep default)
# Setting type: String
# Default value: 
Code = 

## New name to replace Frankfurt (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

[JED]

## New 3-letter code to replace JED (leave empty to keep default)
# Setting type: String
# Default value: 
Code = 

## New name to replace Jeddah (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

[JFK]

## New 3-letter code to replace JFK (leave empty to keep default)
# Setting type: String
# Default value: 
Code =

## New name to replace New York (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

[MCO]

## New 3-letter code to replace MCO (leave empty to keep default)
# Setting type: String
# Default value: 
Code = 

## New name to replace Orlando (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

[MEX]

## New 3-letter code to replace MEX (leave empty to keep default)
# Setting type: String
# Default value: 
Code = 

## New name to replace Mexico City (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

[MIA]

## New 3-letter code to replace MIA (leave empty to keep default)
# Setting type: String
# Default value: 
Code = 

## New name to replace Miami (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

[RCE]

## New 3-letter code to replace RCE (leave empty to keep default)
# Setting type: String
# Default value: 
Code = 

## New name to replace Roche (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

[SEA]

## New 3-letter code to replace SEA (leave empty to keep default)
# Setting type: String
# Default value: 
Code = 

## New name to replace Seattle (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

[SFO]

## New 3-letter code to replace SFO (leave empty to keep default)
# Setting type: String
# Default value: 
Code = 

## New name to replace San Francisco (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

[SIN]

## New 3-letter code to replace SIN (leave empty to keep default)
# Setting type: String
# Default value: 
Code = 

## New name to replace Singapore (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

[SZX]

## New 3-letter code to replace SZX (leave empty to keep default)
# Setting type: String
# Default value: 
Code = 

## New name to replace Shenzhen (leave empty to keep default)
# Setting type: String
# Default value: 
Name = 

